<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, user-scalable=no">

  <title>Eu estou no Wi-Fi PUC?</title>

  <style>
    h1 {
      text-align: center;
      font-family: Ubuntu, Helvetica, Arial, sans-serif;
    }

    .sim {
      color: #2980b9;
    }

    .nao {
      color: #c0392b;
    }
  </style>
</head>
<body>
  <h1><span class="<%= @klass %>"><%= @word %></span>, você <%= @connector %>está no Wi-Fi PUC.</h1>

  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
    ga('create', 'UA-38564882-5', 'wifipuc.herokuapp.com');
    ga('send', 'pageview');
  </script>
</body>
</html>